
    .storage-info {
        margin-top: 50px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
  
    }
    .storage-info h2 {
        font-size: 1.5em;
        margin-bottom: 10px;
        color: black;
    }
    .storage-info p {
        font-size: 1em;
        color: black;
    }

