/* Style the navbar */
.navbar {
  background-color: #333;
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 10px 2px gray;
  position: fixed;
  z-index: 5;
  width: 100%;
  top: 0;
  z-index: 10;
}

/* Style each link in the navbar */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  display: inline-block;
}

/* Add hover effect for the links */
.navbar a:hover {
  background-color: #575757;
  color: #fff;
}
.logo{
  color: chocolate;
  margin-left: 50px;
  display: inline;
  width: 10%;
  text-align: start;
}
.navlinks{
  width: 90%;
  text-align: end;
}
.login{
  border: 0;
    border-radius: 20px;
    padding: 12px 30px;
    margin-top: 10px;
    cursor: pointer;
    color: #FFF;
    background-color: #6c63ff;
}
.login:hover{
  background-color: gray;
}
.dropdown{
  position: absolute;
}

@media screen and (max-width:570px) {
  .navlinks{
    display: none;
  }
}
