.login-component{
   font-family: monospace !important;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   width: 100%;
   background-color: black;
}
.district-data{
  border-radius: 10px;
  margin-bottom: 10px;
}
:root {
    --primary: #4f7bfc;
  }
  .login-content {
    background-color: #fff;
    padding: 25px;
    width: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
  }
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  .header .titel-login{
    font-size: 24px;
    font-weight: 700;
  }
  .titel-login{
    color: black;
  }
  .titel-login > .l {
    font-size: 30px;
    color: var(--primary);
  }
  label {
    font-weight: 500;
    font-size: 16px;
  }
  .inp {
    font-weight: 400;
    width: 100%;
    padding: 2.5px 3.75px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #132;
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }
  .inp,
  .inp:focus {
    outline: none;
  }
  .login-btn {
    background-color: var(--primary);
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.875;
  }
  .login-btn:hover {
    opacity: 1;
  }
  .signup {
    font-weight: 600;
    width: 250px;
    padding: 0 7.5px;
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  .signup a {
    color: var(--primary);
    text-decoration: none;
  }
  .signup a:hover {
    text-decoration: underline;
  }
  